/*  
    body{color: red;} 
    
    ^^ this changes the entire thing red!
    
    selector{declaration}

    selector{declaration property: declaration value;}
    
    
    this is a comment block in css!
    585-475-2255 student health center

    something something try css3generator.com
*/

html{
    /* background-color: black; */
}

body  > * > *{
    /* color: white;
    background-attachment: fixed; */
    border: 1px solid red;
}

body {
    background-color: #8F9B82;
}

.logo{
    border-radius: 50%;
    border: 1px solid black;
    font-size: 72px;
    width: 390px;
    margin: auto;
    margin-top: 20px;
    padding-top: 75px;
    padding-bottom: 75px;
    
    
    
}
.brand{
    font-size: 96px;
    border: 1px solid black;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 814px;
    margin: auto;

}

.progress, .blurb{
    text-align: right;
    color: white;
}

.progress{
    padding-top: 350px;
    padding-right: 100px;
    font-size: 40px;
}
.blurb{
    padding-bottom: 600px;
    padding-right: 250px;
    font-size: 26px;
}


.subtitle{
    font-size: 36px;
    border: 1px solid black;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: auto;
    
}

header{
    padding-top: 50px;
}
.separator{
    padding: 50px;
}

.logo, .brand, .subtitle{
    text-align: center;
}


.container {
    margin: auto;
    width: 90%; 
    max-width: 1000px;
}
/* 
h2{
    background-repeat: no-repeat;
    height: 150px;
    background-image: url("");
    padding-left: 35px;
} */



img {
    float: right;
}

/* 
    above is example code for now
*/
/* 
h2{
    clear: right;
}
header, section{
    overflow: auto;
} 

    this is the solution to some problem involving images, don't know what it is yet
*/


a{
    color: white;
}
a:hover{
    color: white;
}
a:visited{
}
a:active{
}


